* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBD2B3;
}

.mainBlock {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px;
    background-color: black;
    border-radius: 30px;
}
.topBlock {
    border: 2px solid #606060;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    display: grid;
}

.topBlock input {
    background-color: transparent;
    border: none;
    outline: none;
    height: 2em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
}
.topBlock input:nth-child(1) {
    font-size: 25px;
    color: #F4F4F4;
}
.topBlock input:nth-child(2) {
    height: 3em;
}

.bottomBlock {
    border: 2px solid #606060;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 20px 20px;
    border-radius: 40px;
}

.button {
    background-color: #585858;
    padding: 40px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.button:hover {
    background-color: #9B9B9B;
}

p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    cursor: pointer;
}

.buttonClear p {
    color: black;
}

.buttonClear {
    grid-column: 1 / span 3;
    border-radius: 50px; 
    background-color: #C2C2C2;
    
  }
.buttonNull {
    grid-column: 1 / span 2;
    border-radius: 50px;

}
.buttonOrange { 
    background-color: #F26A06;
}
.buttonOrange:hover {
    background-color: #F8B278;
}
